.file-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 16px;
    height: 80vh;
}
.message-dec{
    font-size: .75rem;
    line-height: 1.125rem;
    color: #818181;
    margin-bottom: 1rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.alert-tex{
    font-size: 29px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.btn-wrapper {
    margin: 0 auto;
    width: 50%;
}
#file-desc{
    width: 80%;
    margin: 0 auto;
}
#upload-primary:disabled{
    background:  rgb(151, 142, 142);
    color: #ccc;
    cursor: no-drop;
    border: none;
 }
